.btns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: $dynamic-gap;
}

.btn {
  width: max-content;
  min-width: max-content;
  text-transform: capitalize;
  font-family: "Inter", sans-serif;
  font-size: $base-font-size;
  font-weight: 500;
  line-height: 1;
  color: #222;

  background-color: $button;
  border-radius: $border-radius;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  cursor: pointer;

  &--primary {
    color: #fff;
    background-color: $accent;

    &:hover {
      color: #fff;
    }

    &:focus {
      outline: 2px solid #fff;
    }
  }

  &--secondary {
    color: inherit;
    background-color: transparent;
    border: 1px solid transparent;
  }

  &--text {
    color: inherit;
    background-color: transparent;
  }

  &--more {
    margin-top: 2rem;
    color: $accent;
    font-style: italic;
    font-weight: 400;
    background: transparent;
    outline-offset: 1rem;
  }

  &--center {
    margin-left: auto;
    margin-right: auto;
  }

  &--small {
    padding: 1rem 2rem;
  }

  &--large {
    padding: 2rem 3rem;
  }

  &--full {
    @media (max-width: $mobile) {
      width: 100%;
      justify-content: center;
    }
  }

  &__toggle-group {
    width: 100%;
    max-width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    span {
      display: block;
      min-width: max-content;
    }
  }

  &--toggle {
    position: relative;
    width: 5.4rem;
    min-width: 5.4rem;
    height: 3rem;
    background-color: $input-bg;
    border-radius: 4rem;
    transition: background-color $time;

    .switch {
      position: absolute;
      top: 50%;
      left: 0.3rem;
      width: 2.4rem;
      height: 2.4rem;
      background-color: #fff;
      border-radius: 50%;
      transform: translateY(-50%);
      transition: left $time;
      box-shadow: $shadow;
    }

    &.active {
      background-color: $accent;
      .switch {
        left: 50%;
      }
    }
  }
}
