.filters {
  margin-top: 4rem;
  .filter-menu {
    position: relative;
    width: max-content;
    padding: 1rem 2rem;
    border-radius: $border-radius;

    &__active-element {
    }

    &__options {
      overflow-x: hidden;
      overflow-y: scroll;
      width: 100%;
      height: min-content;
      max-height: 21rem;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: $border-radius;
      box-shadow: $shadow;
      z-index: 100;
      display: none;

      &.active {
        display: block;
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }
    &__option-title {
      padding: 1rem 2rem;
    }
    &__option {
      padding: 1rem 2rem;
      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    &__active-element,
    &__option {
      cursor: pointer;
    }
  }
}
