.grid {
  display: grid;
  gap: 2rem;

  &--sidebar {
    grid-template-columns: 20rem 1fr;

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }

  &--multiple {
    @media (min-width: 1400px) {
      grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    }

    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));

    @media (max-width: 767px) {
      grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    }
  }

  &--50-50 {
    grid-template-columns: repeat(2, 1fr);
  }
}
