.grid {
  display: grid;
  gap: $dynamic-gap;

  &--sidebar {
    gap: 4rem;
    grid-template-columns: 20rem 1fr;

    @media (max-width: $tablet), (max-height: $mobile) {
      grid-template-columns: 1fr;
    }
  }

  &--cards {
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));

    @media (max-width: $laptop-lg) {
      grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    }

    @media (max-width: $laptop) {
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    }
    @media (max-width: $tablet) {
      grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    }

    @media (max-width: $mobile) {
      grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    }
  }

  &--screenshots {
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));

    @media (max-width: $laptop-lg) {
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    }

    @media (max-width: $mobile) {
      grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    }
  }
}
