$page-width: 1920px;
$page-top-padding: 16rem;
$mobile-top-padding: 10rem;
$page-bottom-padding: clamp(4rem, 5vw, 8rem);
$page-hoz-padding: clamp(1rem, 2.5vw, 4rem);

$base-font-size: clamp(1.6rem, 2.5vw, 1.8rem);
$shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.1);

$time: 0.4s;
$border-radius: 1rem;
$border-radius-small: 5px;
$mobile: 760px;
$landscape: 420px;

$accent: #0e88eb;
$button: #d1d2d4;
$input-bg: #c0c0c0;
