.back-to-top {
  position: fixed;
  bottom: 7rem;
  right: -6rem;
  width: 6rem;
  height: 6rem;
  display: grid;
  place-content: center;
  color: #fff;
  background-color: $accent;
  border-radius: 50%;
  transition: right $time, background-color $time;
  cursor: pointer;
  z-index: 200;

  svg {
    width: 2.4rem;
    height: 2.4rem;
  }

  @media (hover: hover) {
    &:hover {
      color: #fff;
      background-color: darken($accent, 15%);
    }
  }

  &.active {
    right: 2rem;
  }
}
