.filters {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  &__menu {
    position: relative;
    width: max-content;
    padding: clamp(0.5rem, 1vw, 1rem) clamp(1rem, 2vw, 2rem);
    border-radius: $border-radius;
    font-size: 1.4rem;
  }

  &__parent-element {
    display: flex;
    align-items: center;
    font-weight: 300;
    font-style: italic;
    cursor: pointer;

    span:nth-child(2) {
      margin-left: 5px;
      font-weight: 600;
      font-style: normal;
    }

    svg {
      width: 2rem;
      height: 2rem;
    }
  }

  &__options {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    min-width: max-content;
    height: min-content;
    max-height: 25rem;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: $border-radius;
    box-shadow: $shadow;
    z-index: 100;
    user-select: none;
    pointer-events: none;
    opacity: 0;

    transition: opacity $time;

    &.active {
      user-select: initial;
      pointer-events: initial;
      opacity: 1;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__option {
    padding: 1rem 2rem;
    cursor: pointer;
    transition: background-color $time;

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  &__title {
    font-style: italic;
    font-weight: 300;
    padding: 1.5rem 2rem;
  }
}
