.footer {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    width: 100%;
    max-width: $page-width;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
  }

  &__copyright,
  &__backlink {
    // font-size: 1.2rem;
  }
}
