.footer {
  width: 100%;
  padding: 4rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    width: 100%;
    max-width: $page-width;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
  }

  &__backlink {
    font-size: $small-font-size;
  }
}
