.footer {
  width: 100%;
  padding: 1rem $page-hoz-padding;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__copyright,
  &__backlink {
    font-size: 1.2rem;
  }
}
