.game-details {
  margin-top: 30vh;

  header {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 4rem;

    @media (max-width: 1420px) {
      grid-template-columns: 1fr;
    }
  }

  section {
    margin-top: 4rem;
  }

  .info-banner {
    line-height: 1.618;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

    > *:not(:last-child)::after {
      content: "|";
      margin-left: 1rem;
    }

    &__genres {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;
      > *:not(:last-child)::after {
        content: ",";
      }
    }
  }

  .trailer {
    width: max-content;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 4rem;
    cursor: pointer;

    &__icon {
      display: grid;
      place-items: center;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      background-color: #dd0813;
      color: #fff;

      svg {
        margin-left: 2px;
        width: 3rem;
        height: auto;
      }
    }
  }

  .description {
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    text-overflow: ellipsis;
    overflow: hidden;

    &.full {
      display: block;
    }

    p {
      max-width: 75ch;
      line-height: 1.618;
      white-space: pre-wrap;
    }
  }

  .team {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    gap: 4rem;
  }

  .esrb-rating {
  }

  .screenshots {
    margin: 0;
    &__screenshot {
      overflow: hidden;
      border-radius: $border-radius;
      box-shadow: $shadow;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__links-group {
    .list {
      > *:not(:last-child) {
        margin-bottom: 1rem;
      }

      li::before {
        content: "";
        margin-right: 8px;
        width: 8px;
        height: 8px;
        display: inline-block;
        border: 1px solid $accent;
        border-radius: 50%;
      }
    }

    &__link {
    }
  }

  .stats {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    // > *:not(:last-child) {
    //   border-right: 1px solid grey;
    // }
    &__group {
      min-width: 18rem;
      padding: 3rem;

      .figure {
        margin: 0;
        font-size: 4.6rem;
        font-weight: 600;
        line-height: 1;
        margin-bottom: 0.5rem;
      }
      .stat {
        font-weight: 500;
      }
    }
  }

  .stores {
    &__list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
      gap: 2rem;
    }

    &__item {
      padding: 2rem 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid transparent;
      border-radius: $border-radius;
      cursor: pointer;
    }

    &__text {
      margin-right: 1rem;
    }

    &__icon {
      display: grid;
      place-items: center;

      svg {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}
