.game-details {
  margin-top: 30vh;

  &__info-banner {
    margin-bottom: 4rem;
    line-height: 1.618;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

    > *:not(:last-child)::after {
      content: "|";
      margin-left: 1rem;
    }

    &__genres {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;
      > *:not(:last-child)::after {
        content: ",";
      }
    }
  }

  &__trailer {
    width: max-content;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 4rem;
    cursor: pointer;

    &__icon {
      display: grid;
      place-items: center;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      background-color: #dd0813;
      color: #fff;

      svg {
        margin-left: 2px;
        width: 3rem;
        height: auto;
      }
    }
  }

  &__ratings {
    margin: 4rem 0;
    display: flex;
    align-items: center;
    gap: 4rem;

    &__group {
      display: grid;
      place-items: center;

      &__label {
        margin-top: 2rem;
      }
    }

    .metacritic {
      width: 10rem;
      height: 10rem;
      font-size: 4.2rem;
      border: 2px solid transparent;
      border-radius: 50%;
      display: grid;
      place-items: center;
    }
  }

  &__description {
    width: 100%;
    max-width: 85ch;
    line-height: 1.618;
  }

  &__screenshots {
    &__screenshot {
      overflow: hidden;
      border-radius: $border-radius;
      box-shadow: $shadow;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__links-group {
    &.s2 {
      grid-column: span 2;
    }

    &__links {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      margin-top: 2rem;
      > *:not(:last-child)::after {
        content: ",";
      }
    }
    &__link {
    }
  }
}
