.game-card {
  overflow: hidden;
  border-radius: $border-radius;
  box-shadow: $shadow;
  cursor: pointer;

  transition: transform $time;

  &__body {
    position: relative;
    padding: clamp(1.2rem, 2vw, 2rem);
  }

  &__header {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
  }

  .metacritic {
    width: max-content;
    margin-left: auto;
    padding: clamp(3px, 0.8vw, 6px);
    border: 1px solid transparent;
  }

  &:hover {
    transform: translateY(-1rem);
  }
}
