.menu-group {
  margin: 1rem 0;

  &__items {
    > *:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  &__item {
    &__header {
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      cursor: pointer;

      span {
        margin-right: 0.5rem;
        transition: color $time;
      }

      &__icon {
        margin-right: 1rem;
        width: 2.4rem;
        height: 2.4rem;

        svg {
          width: $icon-size;
          height: $icon-size;
        }
      }

      &__title {
        font-weight: 500;
      }

      &:hover {
        span {
          color: $accent;
        }
      }
    }

    &__dropdown-menu {
      display: none;
      margin: 1rem 0 3rem 0;

      > *:not(:last-child) {
        margin-bottom: 1rem;
      }

      &.active {
        display: block;
      }

      &__item {
        margin-left: 3.4rem;
        font-weight: 500;
        cursor: pointer;

        span {
          transition: color $time;
        }

        &:hover {
          span {
            color: $accent;
          }
        }
      }
    }
  }
}
