.menu {
  width: 100%;

  &__items {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__dropdown {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &__items {
      display: none;
      flex-direction: column;
      gap: 5px;

      &.active {
        display: flex;
      }
    }
  }

  &__title {
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 1rem;
    outline: none;
    font-size: 2rem;
    &:focus {
      span {
        color: $accent;
        fill: $accent;
        outline: none;
      }
    }
  }

  &__icon {
    display: grid;
    place-content: center;
    width: $icon-size;
    height: $icon-size;

    svg {
      width: $icon-size;
      height: $icon-size;
    }
  }

  &__text {
    cursor: pointer;
    transition: color $time;

    @media (hover: hover) {
      &:hover {
        color: $accent;
      }
    }
  }
}
