.misc-card {
  padding: 0;
  overflow: hidden;
  border-radius: $border-radius;
  box-shadow: $shadow;

  transition: transform $time;

  &__image {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;

    img {
      object-position: top center;
      object-fit: cover;
    }
  }

  &__body {
    padding: $card-padding;
  }

  &__header {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
  }

  &:hover {
    transform: translateY(-1rem);
  }

  .text:hover {
    color: $accent;
  }

  .popular-games {
    .link {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      line-clamp: 1;
      -webkit-line-clamp: 1;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    @media (max-width: $mobile) {
      .link {
        font-size: 1.4rem;
      }
    }
  }
}
