.mobile-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: -100%;
  padding: $page-top-padding $page-hoz-padding $page-bottom-padding
    $page-hoz-padding;
  z-index: 99;
  transition: left $time;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  &.active {
    left: 0;

    @media (min-width: $mobile) {
      left: -100%;
    }
  }
}
