.navbar {
  width: 100%;
  padding: 1rem $page-hoz-padding;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-weight: 900;
    text-transform: uppercase;
  }

  &__search {
  }

  &__list {
    display: flex;
    align-items: center;

    > *:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__list-item {
  }
}
