.navbar {
  width: 100%;
  height: 10vh;
  padding: 0 $page-hoz-padding;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;

  z-index: 100;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-weight: 900;
    text-transform: uppercase;
  }

  &__search {
    width: 100%;
    margin: 0 2rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    border-radius: 2rem;

    &__icon {
      display: grid;
      place-items: center;
      fill: inherit;
      margin-right: 1rem;
    }

    input {
      font-size: inherit;
      color: inherit;
      width: 100%;
      background-color: transparent;
      border: none;
      outline: none;
    }

    ::placeholder {
      color: inherit;
    }
  }

  &__list {
    display: flex;
    align-items: center;

    > *:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__list-item {
  }
}
