.parent-platforms {
  display: flex;
  align-items: center;
  gap: clamp(0.6rem, 1vw, 1rem);

  &__icons {
    display: flex;
    align-items: center;
    gap: clamp(0.6rem, 1vw, 1rem);

    &__icon {
      color: inherit;
      fill: inherit;
      width: clamp(1.6rem, 2vw, 2rem);
      height: clamp(1.6rem, 2vw, 2rem);
    }
  }

  &__extras {
    &__extra {
      display: grid;
      place-items: center;
    }
  }
}
