.misc-card {
  border-radius: $border-radius;
  overflow: hidden;
  box-shadow: $shadow;
  transition: transform $time;
  cursor: pointer;

  &__body {
    padding: 2rem;
  }

  &__title {
    display: flex;
    align-items: center;
    font-size: clamp(1.6rem, 2vw, 3rem);
    font-weight: 500;
    margin-bottom: 5px;

    .icon {
      margin-right: 1rem;
      display: inline-block;
      width: clamp(1.6rem, 2vw, 3rem);
      height: clamp(1.6rem, 2vw, 3rem);
    }
  }

  &:hover {
    transform: translateY(-5px);
  }
}
