.misc-card {
  border-radius: $border-radius;
  overflow: hidden;
  box-shadow: $shadow;
  transition: transform $time;
  cursor: pointer;

  header {
    padding: 2rem;
  }

  &__body {
    padding: 0 2rem 2rem 2rem;
  }

  &__title {
    display: flex;
    align-items: center;
    font-size: clamp(1.6rem, 2vw, 3rem);
    font-weight: 500;
    margin-bottom: 5px;

    .icon {
      margin-right: 1rem;
      display: inline-block;
      width: clamp(1.6rem, 2vw, 3rem);
      height: clamp(1.6rem, 2vw, 3rem);
    }
  }

  &__results {
    font-size: 1.5rem;
    letter-spacing: 1px;
  }

  &__subtitle {
    font-weight: 500;
    margin-bottom: 1rem;
  }

  ul {
    > *:not(:last-child) {
      margin-bottom: 1rem;
    }
    li {
      span {
        transition: color $time;
        &::before {
          display: inline-block;
          margin-right: 8px;
          content: "";
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          border: 1px solid $accent;
        }
      }
      &:hover {
        span {
          color: $accent;
        }
      }
    }
  }

  &:hover {
    transform: translateY(-5px);
  }
}
