// Partials
@import "partials/variables";
@import "partials/typography";
@import "partials/grids";
@import "partials/utilities";
@import "partials/buttons";

// Components
@import "components/modal";
@import "components/navbar";
@import "components/sidebar";
@import "components/mobile-menu";
@import "components/menu-group";
@import "components/links-group";
@import "components/footer";
@import "components/filters";
@import "components/game-card";
@import "components/misc-cards/misc-cards";
@import "components/misc-cards/misc-card";
@import "components/game-details";
@import "components/parent-platforms";
@import "components/loader";
@import "components/metacritic";

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 1px solid yellow;
}

a {
  color: inherit;
  text-decoration: none;
  line-height: 1.2;
  transition: color $time;

  &:hover {
    color: $accent;
  }
}

ul {
  list-style-type: none;
}

// Global
body {
  font-size: $base-font-size;
}

.layout {
  position: relative;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;

    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.page {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: $page-width;
  min-height: 100vh;
  padding: $page-top-padding 1rem 4rem 1rem;
}

section:not(:first-of-type) {
  margin-top: 4rem;
}

// Development Tools

// .page {
//   padding: 2rem;
//   border: 1px solid blue;
// }

// main {
//   padding: 2rem;
//   border: 1px solid green;
// }

// aside {
//   padding: 2rem;
//   border: 1px solid orange;
// }

// .container {
//   padding: 2rem;
//   border: 2px solid pink;
// }

section {
  padding: 2rem;
  border: 1px solid red;
}
