// Partials
@import "partials/variables";
@import "partials/typography";
@import "partials/grids";

// Components
@import "components/navbar";
@import "components/sidebar";
@import "components/footer";
@import "components/game";

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

// Global
body {
  font-size: $base-font-size;
  background-color: #f7f7f7;
}

.page {
  width: 100%;
  min-height: 90vh;
  margin-top: 10vh;
  padding: $page-vert-padding $page-hoz-padding;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: $page-width;
}
